{% extends 'base.html.twig' %}

{% block body %}
    <h1>News Posts list</h1>

    <ul class=" row">
        {% for newsPost in newsPosts %}
            <li class="col-xs-12">
                <a href="{{ path('newspost_edit', { 'id': newsPost.id }) }}">
                    {{ newsPost.ts|date("m/d/Y") }} - {{ newsPost.enText }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('newspost_new') }}">New</a>
            <a class="btn btn-default" href="{{ path('admin') }}">Admin panel</a>
        </li>
    </ul>
{% endblock %}
